/.gradle/
*/.settings/
.settings/
*/build/
*/target/
*/bin/
build/
target/
.project
.classpath
*/.class
*/.cache-main
*/.cache-tests
**/git_build_commit.txt
/.idea/
*.iml
.metadata/
**/*.log
*.log.*
*bin/
**/out/*
**/output/*
**/~$*
.DS_Store
asap.json
dependency.json
pipeline.properties.json
pipeline.properties.template
repoList.json
mvn-dependency-list.txt
**/.vscode